.container {
  background: url("https://marketplace.canva.com/EAEthkBVLfQ/1/0/1600w/canva-blush-wave-desktop-wallpaper-drvq3zaYl2E.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.header {
  background: #111;
  width: 100%;
  display: flex;
  align-items: center;
  color: whitesmoke;
  justify-content: space-between;
}

.header img {
  object-fit: contain;
  width: 150px;
  display: flex;
  flex: 0.2;
  margin-left: auto;
  margin-right: 10px;
  padding: 0 20px;
  cursor: pointer;
}

.inputArea {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  background: whitesmoke;
  height: 40px;
  overflow: hidden;
}

.inputArea input {
  width: 100%;
  height: 40px;
  padding: 15px;
  outline: none;
  border: none;
}

.inputArea button {
  height: 40px;
  width: 10%;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  background: #ecb62e;
  color: #111;
  margin: 0 !important;
}

.headerOption {
  display: flex;
  align-items: center;
  margin: 15px;
}

.info {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 10px;
}

.info p {
  font-size: 12px;
  padding: 3px 0;
  margin: 0 !important;
}

.info button {
  margin-right: auto !important;
  color: whitesmoke !important;
  background: transparent !important;
  cursor: pointer !important;
  border: none !important;
  outline: none !important;
  margin: 0 !important;
}
.info button:hover {
  background: transparent;
}

.pages {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.pages p {
  font-size: 12px;
  padding: 3px 0;
  margin: 0 !important;
}

.pages b {
  font-size: small;
}

.basket {
  display: flex;
  align-items: center;
  cursor: pointer;

  margin: 0 10px;
}

.basket p {
  font-size: 14px;
  margin: 0 !important;
  font-weight: 600;
  margin-left: 8px !important;
}

.collection {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 850px) {
  .header {
    flex-direction: column;
  }

  .header img {
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
  }

  .inputArea {
    width: 85%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
  }

  .inputArea button {
    width: 13%;
  }

  .headerOption {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    width: 85%;
  }

  .basket p {
    margin-left: 8px !important;
  }
}

@media (max-width: 550px) {
  .header {
    flex-direction: column;
  }

  .header img {
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
  }

  .inputArea {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
  }

  .inputArea button {
    width: 13%;
  }

  .headerOption {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
  }

  .basket p {
    margin-left: 8px !important;
  }
}
