.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}

.container img {
  object-fit: contain;
  width: 100px;
}

.content {
  width: 350px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid lightgray;
  margin: 10px;
  background: white;
}

.content h1 {
  padding: 20px 0;
}

.content input {
  height: 30px;
  margin-bottom: 20px;
  margin-top: 5px;
  background-color: white;
  width: 98%;
  padding: 5px;
  outline: none;
}

.input {
  display: flex;
  align-items: center;
}

.eye {
  margin-left: -30px;
  margin-top: -20px;
}
.content p {
  margin-top: 15px;
  font-size: 12px;
  text-transform: capitalize;
  letter-spacing: 0.5px;
}

.login {
  background: #ecb62e !important;
  border: 1px solid !important;
  border-radius: 2px !important;
  width: 100% !important;
  height: 30px;
  margin-top: 10px !important;
  text-transform: capitalize !important;
  font-size: 14px !important;
  border-color: #a88734 #9c7e31 #846a29 !important;
  color: #111 !important;
}

.login:hover {
  background: #f0c14b !important;
}

.signup {
  border: 1px solid !important;
  border-radius: 2px !important;
  width: 100% !important;
  height: 30px !important;
  margin-top: 10px !important;
  text-transform: capitalize !important;
  font-size: 14px !important;
  border-color: #a88734 #9c7e31 #846a29 !important;
  color: #111 !important;
}
