.header {
  background: #111;
  width: 100%;
  display: flex;
  align-items: center;
  color: whitesmoke;
  justify-content: space-between;
}

.header img {
  object-fit: contain;
  width: 150px;
  display: flex;
  flex: 0.2;
  margin-left: auto;
  margin-right: 10px;
  padding: 0 20px;
  cursor: pointer;
}

.inputArea {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  background: whitesmoke;
  height: 40px;
  overflow: hidden;
}

.inputArea input {
  width: 100%;
  height: 40px;
  padding: 15px;
  outline: none;
  border: none;
}

.inputArea button {
  height: 40px;
  width: 10%;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  background: #ecb62e;
  color: #111;
  margin: 0 !important;
}

.headerOption {
  display: flex;
  align-items: center;
  margin: 15px;
}

.info {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 10px;
}

.info p {
  font-size: 12px;
  padding: 3px 0;
  margin: 0 !important;
}

.info button {
  margin-right: auto !important;
  color: whitesmoke !important;
  background: transparent !important;
  cursor: pointer !important;
  border: none !important;
  outline: none !important;
  margin: 0 !important;
}
.info button:hover {
  background: transparent;
}

.pages {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.pages p {
  font-size: 12px;
  padding: 3px 0;
  margin: 0 !important;
}

.pages b {
  font-size: small;
}

.basket {
  display: flex;
  align-items: center;
  cursor: pointer;

  margin: 0 10px;
}

.basket p {
  font-size: 14px;
  margin: 0 !important;
  font-weight: 600;
  margin-left: 8px !important;
}

.cardCollection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px;
}

.cards {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 20px;
  height: 350px;
  position: relative;
  width: 28rem;
  overflow: hidden;
  text-align: center;
  border-radius: 12px !important;
  box-shadow: -8px 12px 15px rgba(0, 0, 0, 0.8);
}

.cards::before {
  content: "";
  position: absolute;
  background: #36333371;
  width: 100%;
  height: 100%;
}

.cards:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: 100ms ease-in-out;
}

.cards button {
  font-size: 22px;
  font-weight: 600;
  margin-top: 150px !important;
  letter-spacing: 1px;
  text-shadow: 2px 0 3px rgba(0, 0, 0, 0.8);
  text-transform: capitalize;
}

.cards:nth-of-type(1) button {
  background: black !important ;
  color: whitesmoke !important;
}
.cards:nth-of-type(2) button {
  background: whitesmoke !important;
  color: black !important;
}
.cards:nth-of-type(3) button {
  background: red !important;
  color: whitesmoke !important;
}
.cards:nth-of-type(4) button {
  background: green !important;
  color: whitesmoke !important;
}
.cards:nth-of-type(5) button {
  background: blue !important;
  color: whitesmoke !important;
}

.cards button:hover {
  outline: none !important;
  border: none !important;
  background: transparent !important;
  color: white;
  font-size: 22px;
  font-weight: 600;
}
.cards:nth-last-of-type(5) {
  background-image: url("https://images.freekaamaal.com/featured_images/170110_Untitleddesign(15).png") !important;
}
.cards:nth-last-of-type(4) {
  background-size: cover;

  background-image: url("https://3.imimg.com/data3/EH/MO/MY-1651149/household-cleaning-products-500x500.jpg") !important;
}
.cards:nth-last-of-type(3) {
  background-image: url("https://im.hunt.in/local/Gallery/3074059/l/3074059_fe8b4.jpg") !important;
}

.cards:nth-last-of-type(2) {
  background-size: cover;

  background-image: url("https://thumbs.dreamstime.com/b/potato-chips-supermarket-lots-30830425.jpg") !important;
}

.cards:nth-last-of-type(1) {
  background-image: url("https://akm-img-a-in.tosshub.com/businesstoday/images/story/202008/adani_wilmar_ltd_thane_west_thane_oil_manufacturers_39jpxiw_660_210820101335.jpg?size=1200:675") !important;
}

@media (max-width: 518px) {
  .cardCollection {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .cards {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5px;
    height: 350px;
    display: grid;
    place-items: center;
    position: relative;
    width: 15rem;
  }
}

@media (max-width: 550px) {
  .header {
    flex-direction: column;
  }

  .header img {
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
  }

  .inputArea {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
  }

  .inputArea button {
    width: 13%;
  }

  .headerOption {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
  }

  .basket p {
    margin-left: 8px !important;
  }
}

@media (max-width: 600px) {
  .cardCollection {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .cards {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5px;
    height: 350px;
    display: grid;
    place-items: center;
    position: relative;
    width: 15rem;
  }
}

@media (max-width: 850px) {
  .header {
    flex-direction: column;
  }

  .header img {
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
  }

  .inputArea {
    width: 85%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
  }

  .inputArea button {
    width: 13%;
  }

  .headerOption {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    width: 85%;
  }

  .basket p {
    margin-left: 8px !important;
  }
}
