.del {
  cursor: pointer;
}

.del:hover {
  color: red;
}

.edt {
  cursor: pointer;
}

.edt:hover {
  color: blue;
}

.content {
  display: flex;
  background: black;
  color: whitesmoke;
  align-items: center;
  justify-content: space-between;
}

.content img {
  display: flex;
  flex: 0.2;
  height: 80px;
  object-fit: contain;
  margin-left: 30px;
  cursor: pointer;
  padding: 10px;
}

.content .inputs {
  display: flex;
  align-items: center;
  flex: 0.5;
  background: whitesmoke;
  border-radius: 15px;
  overflow: hidden;
  margin: 10px;
  height: 45px;
}
.content input {
  display: flex;
  flex: 1;
  padding: 15px;
  background: rgba(128, 128, 128, 0.568);
  border: none;
  outline: none;
  border-radius: 15px 0 0 15px;
  font-family: sans-serif;
  font-size: 15px;
}

.boxes {
  width: 450px;
  background: whitesmoke;
  position: fixed;
  top: 25%;
  left: 35%;
  box-shadow: -1px 3px 6px 6px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.uploadBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
}

.input {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.input label {
  margin-right: 25px;
}

.input input {
  display: flex;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 15px;
  background: rgba(128, 128, 128, 0.568);
  width: 300px;
  margin: 10px;
}

.buttons {
  display: flex;
  align-items: center;
  margin-top: auto;
  margin-left: auto;
  margin-right: 20px;
  margin-bottom: 30px;
}

.addbutton Button {
  background: blue !important ;
  margin-right: 50px;
  text-transform: capitalize;
  color: whitesmoke !important;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
  font-family: sans-serif;
}

.addbutton Button:hover {
  background: blue !important;
  color: whitesmoke !important;
}
.boxes Button:nth-of-type(1) {
  background: blue !important;
  margin-right: 20px;
  color: whitesmoke !important;
  font-weight: 600;
}

.boxes Button:nth-of-type(1):hover {
  background: transparent !important;
  color: blue !important;
}

.boxes Button:nth-of-type(2) {
  background: red !important ;

  color: whitesmoke !important;
}

.boxes Button:nth-of-type(2):hover {
  background: transparent !important;
  color: red !important;
}

.img {
  object-fit: contain;
  height: 60px;
}

.container .tabelcell {
  text-transform: capitalize !important;
}

@media (max-width: 750px) {
  .content {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }
  .content img {
    display: flex;
    flex: none;
    object-fit: contain !important;
    height: 100px !important;
  }

  .content .inputs {
    width: 90%;
  }

  .content Button {
    font-size: 11px;
    margin-left: 70vw;
  }
}
