.container {
  display: flex;
  margin: 15px;
  border-radius: 15px;
  overflow: hidden;
  padding: 10px;
}

.container .image {
  height: 200px;
  width: 200px;
  object-fit: contain;
  margin-right: 30px;
}

.container .title {
  text-transform: capitalize;
  font-size: 28px;
  font-family: cursive;
  letter-spacing: 0.5px;
  text-shadow: 2px 0 3px rgba(0, 0, 0, 0.5);
}

.container .rating {
  display: flex;
}

.container .rating h5 {
  font-size: 18px;
  font-family: monospace !important;
  font-weight: 600;
  text-transform: capitalize;
}

.container .rating span {
  margin-left: 5px;
  margin-top: -5px;
  color: #ecb62e;
}

.container .price {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 600;
  color: green !important;
  text-shadow: 2px 0 2px rgba(0, 0, 0, 0.5);
}

.container .price strong {
  margin-left: 8px !important;
  color: red !important;
  font-size: 20px;
}

.container .weight {
  font-size: 18px;
  font-family: monospace;
  font-weight: 600;
  text-transform: capitalize;
}

.container .weight strong {
  margin-left: 5px;
  font-size: 22px;
  color: whitesmoke;
  text-shadow: 2px 0 3px rgba(0, 0, 0, 0.5);
}

.container .color {
  font-size: 18px;
  font-family: monospace;
  font-weight: 600;
  text-transform: capitalize;
}

.container .color strong {
  margin-left: 5px;
  font-size: 22px;
  color: purple;
  text-shadow: 2px 0 3px rgba(0, 0, 0, 0.5);
}

.container .info Button {
  background: #ecb62e;
  text-transform: capitalize;
  font-family: cursive;
  letter-spacing: 0.5px;
  font-size: 14px;
  font-weight: 600;
  text-shadow: 2px 0 3px rgba(0, 0, 0, 0.5);
}

.container .info Button:hover {
  background: #ecb62e;
  color: whitesmoke;
}

@media (max-width: 750px) {
  .container .title {
    text-transform: capitalize;
    font-size: 18px;
    font-family: cursive;
    margin-left: 10px;

    text-shadow: 2px 0 3px rgba(0, 0, 0, 0.5);
  }
  .container .rating {
    flex-direction: column;
  }

  .container .rating h5 {
    margin-left: 10px;
  }
  .container .price {
    margin-left: 10px;
  }
}
